<div class="container-fluid p-4">
  <div class="generate-url-section mb-5">
    <h1 class="section-title">Generate New URL</h1>
    <hr />
    <app-generate-url
      class="col-12"
      (linkOut)="addLink($event)"
    ></app-generate-url>
  </div>

  <div class="existing-urls-section">
    <h2 class="section-title">Your Existing URLs</h2>
    <div class="row mt-3">
      <app-one-link
        *ngFor="let Link of Links; trackBy: trackLink"
        class="col-md-3 col-sm-6 mb-4"
        [LinkData]="Link"
        (DeletedLink)="removeLink($event)"
      ></app-one-link>
    </div>
  </div>
</div>
