<div class="container-fluid p-4">
  <div class="generate-url-section mb-5">
    <h1 class="section-title">Hey {{ User.username | titlecase }},</h1>
    <h1 class="section-title">Let's Generate A New URL</h1>
    <hr />
    <app-generate-url
      class="col-12"
      (linkOut)="addLink($event)"
    ></app-generate-url>
  </div>

  <div class="generate-url-section mb-5">
    <h2 class="section-title">You have {{ Links.length }} Short URLs</h2>
    <div class="row mt-3">
      <app-one-link
        *ngFor="let Link of Links"
        class="col-md-3 col-sm-6 mb-4"
        [LinkData]="Link"
        (DeletedLink)="removeLink($event)"
      ></app-one-link>
    </div>
  </div>
</div>
