<div class="card link-stats-card mb-4 shadow">
  <div class="card-body">
    <h6 class="card-title">
      Short URL:
      <a href="{{ VisibleSL }}" class="card-link">
        {{ VisibleSL | truncate }}
      </a>
    </h6>
    <h6 class="card-subtitle mb-2">
      Long URL:
      <a
        href="{{ LinkData.longURL }}"
        class="card-link-muted"
        title="{{ LinkData.longURL }}"
      >
        {{ LinkData.longURL | truncate }}
      </a>
    </h6>
    <p class="card-text">
      <small class="standout">
        You've redirected people {{ LinkData.interactions }} times so far.
      </small>
    </p>
    <button
      [disabled]="Busy"
      class="btn btn-outline-danger"
      (click)="DeleteURL()"
    >
      Delete URL
    </button>
  </div>
</div>
